@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient
@using Microsoft.AspNetCore.Components.Authorization

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    
            <div class="top-row px-4">
                <button class="btn btn-primary" @onclick="LoginUser">Login</button>
            </div>
        
    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    private async Task LogoutUser()
    {
        await _httpClient.GetAsync("user/logoutuser");
        _navigationManager.NavigateTo("/", true);
    }

    private void LoginUser()
    {
        _navigationManager.NavigateTo("/LogIn", true);
    }

}