@page "/counter"

<h1>Questions</h1>


<div>
    <textarea @bind="Description" @bind:event="oninput" />
</div>



<button class="btn btn-info" @onclick="@(() => { IncrementCount(); })">Like</button>

<button class="btn btn-danger" @onclick="DecrementCount">Dislike</button>
<p>  &nbsp; @like   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;@dislike</p>


@code {
    private int like = 0;
    private int dislike = 0;

    private void IncrementCount()
    {
        if (like < 1)
            like++;

    }

    private void DecrementCount()
    {
        if (dislike > -1)
            dislike--;



    }

    public string Description { get; set; } = string.Empty;

}

