<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, someone!</a>
        <form method="post" action="">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="LogIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
