@page "/fetchdata"
@using WebApplication3.Client.ViewModels
@inject IQuestionViewModel _questionViewModel
@inject IAnswerViewModel _answerViewModel
@inject HttpClient Http

<h3>YourQuestions</h3>
<div class="col-12">
    @if (_answerViewModel.Answers != null && _answerViewModel.Answers.Count() > 0)
    {
        @foreach (var answer in _answerViewModel.Answers)
        {
            <a href="/question/@answer.IdQuestion"
               class="list-group-item list-group-item-action flex-column align-items-start bold-text">
                 <span> </span> @answer.Contents
            </a>
        }
    }
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await _answerViewModel.LoadYourAnswers();
    }
}