@page "/LogIn"
@inject NavigationManager _navigationManager
@using WebApplication3.Client.ViewModels
@inject ILoginViewModel _loginViewModel
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <h2><b>Login</b></h2>
    <hr>
    <RadzenCard>
    <div class="col-6">
        <input type="text" @bind="_loginViewModel.EmailAddress" class="form-control" placeholder="email address">
    </div>
    <br />
    <div class="col-6">
        <input type="password" @bind="_loginViewModel.Password" class="form-control" placeholder="password">
    </div>
    <br />
    <div class="col-6">
        <button class="btn btn-secondary" @onclick="LoginUser">Login</button>
    </div>
        </RadzenCard>
    <br />
    <br />
    <div class="col-6">
        <a class="btn btn-block btn-social btn-facebook" @onclick="FacebookSignIn">
            <span class="fa fa-facebook"></span> <b>Facebook</b>
        </a>
    </div>
    <br />
    <div class="col-6">
        <a class="btn btn-block btn-social btn-google" @onclick="GoogleSignIn">
            <span class="fa fa-google"></span> <b>Google</b>
        </a>
    </div>

    @code {
        public async Task LoginUser()
        {
            await _loginViewModel.LoginUser();
            _navigationManager.NavigateTo("/", true);
        }

        private void FacebookSignIn()
        {
            _navigationManager.NavigateTo("user/FacebookSignIn", true);
        }

        private void GoogleSignIn()
        {
            _navigationManager.NavigateTo("user/GoogleSignIn", true);
        }
    }