@page "/yourQuestion"
@using WebApplication3.Client.ViewModels
@inject IQuestionViewModel _questionViewModel
<h3>YourQuestions</h3>
<div class="col-12">
    @if (_questionViewModel.YourQuestion != null && _questionViewModel.YourQuestion.Count() > 0)
    {
        @foreach (var question in _questionViewModel.YourQuestion)
        {
            <a href="/question/@question.Id"
               class="list-group-item list-group-item-action flex-column align-items-start bold-text">
                @question.Title <span> </span> @question.Contents
            </a>
        }
    }
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await _questionViewModel.LoadYourQeustion();
    }
}
